@import "reset";
@import "_variables";

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family:'Times New Roman', Times, serif ;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background-color:$white;
    width: $fixedWidth;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:$red;
    padding: 40px;
    padding-left: 50px;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
    h1{
        font-size: 80px;
        font-weight: 380;
        width: 50%;
        margin-bottom: 300px;
        padding-left: 40px;
        text-transform: uppercase;
        letter-spacing: 1.1px;
    }
    h3{
        
        font-size: 30px;
        font-weight: 200;
        margin-bottom: 20px;
    }
    p{
        color:$red;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 15px;
    }
    ul{
        color: black;
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
    }
    li{
        cursor: pointer;
        padding: 8px;
        opacity: 0.5;
        border-bottom: 2px solid rgba(0,0,0,0.5);
        &:hover{
            opacity: 1;
        }
        
    }
}

main{
   
    margin-left: $fixedWidth;
   .movie{
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.5) 10%,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0)
        ),
        $red;
       height: 100vh;
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       color: white;
     
           .movie_header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            h4{
                font-size: 20px;
            }
            h5{
                font-size: 15px;
                margin-left: 15px;
            }
       }

   }
   img{
    width: 130%;
   }

   }
